
.application-dates {
    margin: 20px auto;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%; 
    max-width: 900px;
}

.application-dates {table, th, td, p{
        border: solid black;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        margin: 10px;
        padding: 6px;
        font-size: 15px;
        text-align: center;
}
}

.academic{
    margin: 20px auto;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%; 
    max-width: 600px;
}

#academicimg img{
    float: right;
    margin: 10px;
}

.internationalapplicants{
    margin-left: 80px;
    width: 45%;
}

.bodytext{
    text-align: center;
}

.nonacademic-section {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.requirements-card {
    width: 600px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;    
}

.requirements-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f0f4f8;
    cursor: pointer;
}

.card-header h3 {
    margin: 0;
    font-size: 18px;
    color: #000;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #5BC2F4;
}

.toggle-btn:hover {
    color: #001a70;
}

.card-content {
    padding: 15px;
    font-size: 14px;
    display: none; 
    color: #333;
}

.card-content p, li {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
}

.apply-card {
    margin: 40px auto;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%; 
    max-width: 600px;
}

#term {
    cursor: pointer;
}

form input[type="text"], form input[type="email"]{
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
}

#submitButton {
    width: 100%;
    background: #EB0172;
    border: #EB0172;
    border-radius: 8px;
    padding: 14px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

#submitButton:hover {
    width: 100%;
    background: #d40166;
    border: ##d40166;
    border-radius: 8px;
    padding: 14px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}