.heading-wrapper{
	align-content: center;
}

.site-heading {
    color: #fff;
    font-family: 'Replica-Bold', Arial, sans-serif;
    padding: 18px 18px 18px 0;
    font-size: 2.1em;
	display: flex;
}

.site-heading-a {
    color: #ffffff;
    text-decoration: none;
	font-size: 33px;
	margin: auto;
}

.site-heading-a a 
{
	text-decoration: none;
	color:#000;
}

.logoContainer {
    top: 0;
    bottom: 0;
    margin: auto;
	align-items: right;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.home a {
	text-decoration:none;
	color:#000;
}

.content {
	margin-top: -15px;
	background-color: #ebebeb;
	height: auto;
	overflow:visible;
}

.list-inline {
	text-decoration: none;
	display:inline-block;
}

.nav-break {
	width:100%;
	height:5px;
	background-color: #EB0172;
}

.horizontal-nav {
	background-color: #fff;
	font-family: 'Replica-Bold', Arial, sans-serif;
	box-sizing: border-box;
	display:flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	display:inline-block;
}

.horizontal-navigation {
	margin-top: -15px;
	background: none;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	margin-bottom: 0;	
}

.navbar {
	padding-left: 0;
	list-style: none;
	color: #000;
	font-size: 16px;
	position:relative;
}

.navbar li {
	display:inline-block;
	font-size: 18px;
	font-weight: bold;
}

.navbar a {
	text-decoration: none;
	color: #000;
	background-color: #F0F0F0;
	padding: 10px 15px;
}

.navbar a.active {
	background-color:#EB0172;
	color:#FFF;
}

.navbar a:hover {
	background-color: #A0A0A0;
	transition: all 0.3s ease;
}

/* ============= LOCAL FOOTER ================= */

footer {
	width: 100%;
	position: relative;
}

.local-foot {
	background-color: #EB0172;
	color: #000;
}

.local-foot a {
	color:#000;
}

/* ============= GLOBAL FOOTER ================= */

.global-foot a {
	color: #fff;
}

.global-top-foot {
	background-color:#002D72;
	color: #fff;
}

.global-bot-foot {
	background-color:#004C98;
	color: #fff;
}


/* Banner Section */
.banner {
    text-align: center;
    background-color: #5BC2F4;
    color: white;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 54px;
    margin:0;
    color: #000;
}

.banner p {
    font-size: 16px;
    margin: 0;
}