
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font-family: 'Replica-Bold', Arial, sans-serif;
    font-size: 25px;
    /* Personalize */
    width: 20rem;
    padding: 1rem 1rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* Remove IE arrow */
    :-ms-expand {
      display: none;
    }

    /* Remove focus outline */
    :focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

.dropdown-select{
  display: flex;
  width: 100%;
  font-family: 'Replica-Bold', Arial, sans-serif;
  justify-content: center;
  padding-top:2%;
  padding-bottom:2%;
  background-color:#ececec;

}

button{
  background-color: black;
  font-weight: 800;
  color: #ececec;
  margin: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

#iam{
  font-size: 30px;
  margin: 12px;
  padding-left: 10px;
  padding-right: 40px;
}

.news-banner {
  display: flex;
  font-family: 'Replica-Bold', Arial, sans-serif;
  font-size: 25px ;
  color: black;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 20px 40px;
  border-radius: 8px;
}

.title-banner {
  
  font-family: 'Replica-Bold', Arial, sans-serif;
  font-weight: 700;
  font-size: 25px ;
  color: black;
  background-color: #5bc1f2;
  padding:15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;
  padding: 20px 40px;
  border-radius: 8px;
}

#blue-bold-text{
  font-family: 'Replica-Bold', Arial, sans-serif;
  padding:5px;
  font-weight: 800;
  color: #004C9B;
  justify-content:center;
  align-items: center;
  margin: auto;
}

.blue-bkg{
  background-color: #5bc1f2;
  padding:15px;
}

.grey-bkg{
  background-color:#ececec;
  display: flex;
  justify-content: center;
}

.grey-bkg-two{
  background-color:#ececec;
  display:flex

}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: auto;
}

.flex-column{
  display:flex;
  margin: auto;
  align-items: center;
  justify-content: right;
}


#calendar-studentsection{
  display: flex; 
  display: none; /*hidden by default*/
  justify-content: center;
  margin: 15px;
  
}

#calendar-applicantsection{
  display: flex;
  display: none; /*hidden by default*/
  justify-content: center;
  margin: 15px;

}

.content-section{
  display:flex ;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.student-calendar{
  margin-top: 0px;
  margin-right: 25px;
  padding:25px;
  align-content: left;

}

.applicant-calendar{
  margin-top: 0px;
  margin-right: 25px;
  padding:25px;
}

.calendar-studentcontent{
  display: flex;
  flex-direction: column;
  padding: 15px;

}
.calendar-applicantcontent{
  display: flex;
  flex-direction: column;
  padding: 15px;

}

.calendar-card{
  padding: 15px;
  text-decoration: none;
  font-family: 'Replica-Bold', Arial, sans-serif;
  background-color: #ececec;
  border-radius: 8px;
  margin: 15px;
}



