
h2{
    font-family: 'Replica-Bold', Arial, sans-serif;
    color: white;
}


#MRP-dropdown {
    display: block;
    font-family: 'Replica-Bold', Arial, sans-serif;    
    background-color:black;
    padding: 10px 40px 10px 15px;
    height: fit-content;  
    width: 60%;  
    margin: auto;
    justify-content: center;
    align-items: center;
}

#MRP-wrapper {
    display: flex;
}

#table-wrapper {
    width:50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#MRP-text {
    width:50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

th {
    background-color: #3e7ba9;
    padding: 10px; 
    margin: 50px;
}