
h2{
    font-family: 'Replica-Bold', Arial, sans-serif;
    color: white;
}


.MRP-dropdown {
    display: block;
    font-family: 'Replica-Bold', Arial, sans-serif;    
    background-color:black;
    padding: 10px 40px 10px 15px;
    height: fit-content;  
    width: 60%;  
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.MRP-wrapper {
    display: flex;
}

.table-wrapper {
    width:60%;
    margin: auto;
    padding-left: 5%;
    Padding-right: 5%;
    justify-content: center;
    align-items: center;
}

.iframe-centre{
    display: flex;
    align-items: center;
    margin: auto;    
    justify-content: center;
    margin: auto;
}

.MRP-text {
    width:80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    display: none; /* Hidden by default */
}

th {
    background-color: #3e7ba9;
    padding: 10px; 
    margin: 50px;
}

td {
    padding: 10px; 
    margin: 50px;
}